node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
package-lock.json
web-build/
web-report/
yarn.lock

# macOS
.DS_Store
android/.gradle
android/app/build
ios/Pods
ios/Podfile.lock